body{
	background-color:gray;
}
h1{
	color:black;
}
.boldClass{
	font-weight:bold;
}
#bigID{
	font-size:24px;
}
.topNav{
	color:yellow;
}
.fix_height{
}


.col-container {
	display: table;
}

.col-menu {
	display: table-cell;
	width:5%;
	background-color: orange;
}

.col-body {
	display: table-cell;
	width: 95%;
	background-color: red;
}